<!-- ERROR START -->
<ng-container *ngIf="error">
  <ng-template
    [ngTemplateOutlet]="errorTemplate || defaultErrorTemplate"
  ></ng-template>
</ng-container>
<!-- ERROR END -->

<ng-container *ngIf="!error">
  <!-- LOADER START -->
  <ng-container *ngIf="loaderService.isLoading">
    <ng-template
      [ngTemplateOutlet]="loaderTemplate || defaultLoaderTemplate"
    ></ng-template>
  </ng-container>
  <!-- LOADER END -->

  <ng-container *ngIf="!loaderService.isLoading">
    <!-- EMPTY START -->
    <ng-container *ngIf="totalPages === 0">
      <ng-template
        [ngTemplateOutlet]="emptyTemplate || defaultEmptyTemplate"
      ></ng-template>
    </ng-container>
    <!-- EMPTY END -->

    <ng-container *ngIf="totalPages > 0">
      <!-- CONTENT START -->
      <ng-content></ng-content>
      <!-- CONTENT END -->
    </ng-container>

    <!-- CONTROLS START -->
    <ng-template
      [ngTemplateOutlet]="nextPageTemplate || defaultNextPageTemplate"
    ></ng-template>
    <ng-template
      [ngTemplateOutlet]="prevPageTemplate || defaultPrevPageTemplate"
    ></ng-template>
    <!-- CONTROLS END -->
  </ng-container>
</ng-container>

<ng-template #defaultNextPageTemplate>
  <div appNextPage>next</div>
</ng-template>

<ng-template #defaultEmptyTemplate>
  Empty...
</ng-template>

<ng-template #defaultPrevPageTemplate>
  <div appPrevPage>prev</div>
</ng-template>

<ng-template #defaultErrorTemplate>
  Error occured {{error}}
</ng-template>

<ng-template #defaultLoaderTemplate>
  Loading......
</ng-template>
